<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Entry:</h3>

    <form class="form new-entry-form">
      <div class="form-group">
        <label for="entry-name">Entry title:</label>
        <input class="form-input" type="text" id="title-name" name="title-name" />
      </div>
      <div class="form-group">
        <label for="entry-body">Body:</label>
        <textarea class="form-input" id="entry-body" name="entry-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

    <h3>Current entries:</h3>
<div>
    <ul class="entry-list">
    {{#each entries as |entry|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <li>
        <h4><a href="/entry/{{entry.id}}">{{entry.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{entry.id}}">DELETE</button>
      </div>
      </li>
    </div>
    {{/each}}
  </ul>
  </div>
</div>

<script src="./js/profile.js"></script>